*{
  margin: 0;
}

div{
  margin-top: 15px;
}

ul{
  list-style-type: none;
  margin-top: 10px;
}

li{
  padding: 0;
  margin: 0 0 0.3em 0;
}

header,footer{
  text-align: center;
  justify-content: center;
}

footer{
  padding-top: 5%;
  display: block;
  font-weight: 700;
}

.container{
  width: 60%;
  margin: auto;
  background-color: beige;
  padding-bottom: 1%;
}

.content-container{
  width: 90%;
  margin: auto;
}

.section{
  margin-left: 5%;
}

.image-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.avatar{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.par{
  margin-top: 15px;
  padding-right: 15%;
  text-align: justify;
  justify-content: center;
}

ul.skills li{
  display: inline;
  margin: 0.5em;
}

.skills{
  margin-bottom: 10px;
}