* {
  margin: 0;
}

section {
  width: 60%;
  margin: auto;
  padding-top: 3%;
}

h2 {
  padding-bottom: 2%;
}

header,
footer {
  padding-top: 2%;
  text-align: center;
  justify-content: center;
  display: block;
}

footer {
  padding-bottom: 1%;
}

p {
  text-align: justify;
}

u {
  background-color: chartreuse;
}

blockquote {
  padding-bottom: 2%;
}

.container {
  width: 60%;
  margin: auto;
  background-color: beige;
  padding-bottom: 1%;
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
}

.not-last-par {
  padding-bottom: 2%;
}

.bandung {
  background-color: burlywood;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  section {
    width: 85%;
  }

  blockquote {
    text-align: justify;
  }
}
